.dark ion-searchbar {
  --background: #2c2c2e;      /* fondo del buscador */
  --color: #ffffff;           /* texto introducido */
  --placeholder-color: #cccccc; /* texto placeholder */
  --icon-color: #ffffff;      /* color de la lupa */
  --clear-button-color: #ffffff; /* color del botón X */
}